<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Enter Petition</title>
</head>
<body>
<H1>
    Please Enter petition details
</h1>
<br>
<form action = "#" th:action="@{/EnterPetition}" th:object="$petition}" method = "post">
    <b>Petition Name : </b><input type = "Text" th:field="*{petitionTitle}"></input>
<br>
<br>
<b>Petition Details : </b><input type = "Text" th:field="*{petitionDetail}"> </input>
<br>
<br>
<input type = submit value="Save Petition"></input>
</form>
</body>
</html>