<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Display Petitions</title>
    <style>
        table {
          border-collapse: collapse;
          width:500px
        }
        th{
          border: 1px solid black;
          padding: 8px;
          text-align: left;
          word-wrap: break-word;
          max-width:200px
        }
        td {
          border: 1px solid black;
          padding: 8px;
          text-align: left;
          word-wrap: break-word;
          max-width:400px
        }

    </style>
</head>
<body>
<h1>List of Petitions</h1>
<h3>You can click on any petition to sign it</h3>
<table>
    <colgroup>
        <col style="width: 150px;">
        <col style="width: 200px;">

    </colgroup>
    <thead>
    <tr>
        <th>Title</th>
        <th>Detail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="petition : ${pList}">
        <td>
            <a th:href="@{'/signpetition(title=' + ${petition.petitionTitle} + '/' +'(detail=' + ${petition.petitionDetail}+')'}" th:text="${petition.petitionTitle}"></a>
        </td>
        <td th:text="${petition.petitionDetail}">Detail</td>

    </tbody>
</table>
<br>
<a href="enterPetition">Submit another petition</a>

</body>
</html>