<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Enter Petition</title>
</head>
<body>
<H1>
    Please Enter petition details
</h1>
<br>
<form action="/EnterPetition" method="post">
    <b>Petition Name : </b><label>
    <input type = "text" name="petitionTitle"></input>
</label>
    <br>
    <br>
    <b>Petition Details : </b><label>
    <input type = "text" name="petitionDetail"> </input>
</label>
    <br>
    <br>
    <button type ="submit" >Save Petition</button>
</form>
</body>
</html>