<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Enter Petition</title>
</head>
<body>
<H1>
    Please enter petition details
</h1>

<form action="/enterPetition" method="post">
    <h3>Petition Name</h3><label>
    <input type = "text" size = "50" name="petitionTitle"></input>
</label>
    <br>
    <br>
    <h3>Petition Details</h3><label>

    <textarea name="petitionDetail" rows = "10" cols = "150"> </textarea>
</label>
    <br>
    <br>
    <button type ="submit" >Save Petition</button>
</form>

<table>
    <tbody>
    <tr >
        <td ><a href="/showSearchPetitionPage">Search petition</a></td>
        <td ><a href="/displayPetitionPage">Display petitions</a></td>

    </tr>
    </tbody>
</table>

</body>
</html>