<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>You can sign for your petition here</title>
    <style>
        table {
          border-collapse: collapse;
          width:500px
        }
        th{
          border: 1px solid black;
          padding: 8px;
          text-align: left;
          word-wrap: break-word;
          max-width:200px
        }
        td {
          border: 1px solid black;
          padding: 8px;
          text-align: left;
          word-wrap: break-word;
          max-width:400px
        }

    </style>
</head>
<body>
    <H1>
        You can sign for your petition here
    </h1>
    <br>

    <form action="/signPetition" method="post">
        <input type="hidden" name="petitionTitle" th:value="${petitionTitle}" />
        <table>
            <colgroup>
                <col style="width: 150px;">
                <col style="width: 200px;">
            </colgroup>
            <thead>
            <tr>
                <th>Petition</th>
                <th>Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${petitionTitle}"></td>
                <td th:text="${petitionDetail}"></td>
            </tr>
            </tbody>
        </table>
        <br>
            <label><b>Signature </b></label>
        <input type="text" name="petitionSignature">
        <br>
        <br>
        <button type="submit">Sign Petition</button>
    </form>
</body>
